build/
build*.d/
xcuserdata/
project.xcworkspace/
*~.*
*.dSYM/
*.exe
*.exe.debug
call-benchmark/
old/
tmp/
*.old

/.bootstrap.auto/
/.bootstrap.local/
/.repos/

/dependencies/
/addictions/

/.bootstrap.auto/
/.bootstrap.local/
/dependencies/
/addictions/

/bin/mulle-homebrew
/tests/mulle-tests
/bin/mulle-homebrew
/mulle-configuration

# boring tests
# ignore everything, force add it with git add -f
/tests
/some-test/


/.bootstrap.auto

/.bootstrap.local

/dependencies

/addictions

/.repos
