build/
build*.d/
xcuserdata/
project.xcworkspace/
*~.*
*.dSYM/
*.exe
*.exe.debug
old/
tmp/
tmp.*
*.old
*.bak

/.bootstrap.auto
/.bootstrap.local
/.bootstrap.repos
/.repos
/addictions
/dependencies
/mulle-configuration
/some-test/
call-benchmark/
protocol-benchmark/


# ignore all tests artefacts
tests/
!*.h
!*.m
!*.aam
!*.stdout
!*.stderr
!*.ccdiag
!CMakeLists.txt
!*.sh
/tests/mulle-tests
/tests/build
/tests/lib
/tests/include
