.bootstrap.auto/
.bootstrap.local/
dependencies/
.repos/
mulle-configuration/
build/
xcuserdata/
project.xcworkspace/
*~.*
*.dSYM/
*.exe
*.exe.debug
call-benchmark/
old/
tmp/
/tests/lib/
/tests/include/

