{
   project =
   {
      description="💎 A collection of Objective-C root classes for mulle-objc";
      domain="github";
      language="c";
      dialect="objc";
      name="MulleObjC";
      user="mulle-objc";
      repo="MulleObjC";
      homepage="https://github.com/mulle-objc/MulleObjC";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="⏩ A fast, portable Objective-C runtime written 100% in C11";
         domain="github";
         name="mulle-objc-runtime";
         repo="mulle-objc-runtime";
         url="https://github.com/mulle-objc/mulle-objc-runtime";
         user="mulle-objc";
      },
      {
         description="🐞 Debug support for the mulle-objc-runtime";
         domain="github";
         name="mulle-objc-debug";
         repo="mulle-objc-debug";
         url="https://github.com/mulle-objc/mulle-objc-debug";
         user="mulle-objc";
      },
      {
         description="⏩ make mulle-clang the default Objective-C compiler";
         domain="github";
         name="mulle-objc-cc";
         repo="mulle-objc-cc";
         url="https://github.com/mulle-cc/mulle-objc-cc";
         user="mulle-cc";
      },
      {
         description="📒 Lists mulle-objc runtime information contained in executables.";
         domain="github";
         name="mulle-objc-list";
         repo="mulle-objc-list";
         url="https://github.com/mulle-objc/mulle-objc-list";
         user="mulle-objc";
      }
   );
}
